body{
    font-family: Arial, sans-serif;
    padding:40px;
}

.container{
    display:flex;
    gap:20px;
}

.box{
    width:100px;
    height:100px;
    background:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}